<% include ../partials/header %>
<div class="container"> 
<header class="jumbotron">
        <h1>Welcome to ReadRight</h1>
        <p>Enough of the evil novels premised on feminism.. <br> Enough of the science falacies rooted in atheism.. <br> Time we fell in love with towering Islamic reads reeked in theism..  </p> 
        <p>
            <a class="btn btn-primary btn-large" href="/books/new">Add a new Book</a>
        </p>
    </header>

<div class="row">
       <% new_books.forEach(function(new_book) { %>
          <div class="col-md-3 col-sm-2">
              <div class="thumbnail"> 
                  <img src="<%=new_book.image%>" alt=""> 
                  <div class="caption"> 
                      <h6><%=new_book.title%></h6>
                      <!-- <h6><%=new_book.author%></h6>
                      <h6><%=new_book.description%></h6> -->
                  </div>
                  <p> <a href="/books/<%= new_book._id %>" class="btn btn-primary">Read Review</a>   </p>
              </div>
          </div>
        <%  }); %>


</div>

</div>


<% include ../partials/footer %>
